# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x

# Build directory
build/

cmake-build-debug/
.idea/

.vscode/

# kernel module
*.ko
*.mod.c
*.cmd
*.o
*.o.cmd
*.ko.cmd
*.ko.d
*.ko.dwo
*.ko.dwo.cmd
*.ko.dwo.d
*.ko.dwo.dwo